/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p =  {
	width: auto
	elWidth: 100%
	elHorMargin: 0
	elVertMargin: 0
	elMargin: 0
}

b-checkbox-group extends i-input
	&__root-wrapper
		width $p.width

	&__list
		display flex
		flex-wrap wrap

	&__el
		width ($p.elWidth != auto ? "calc(%s - %s)" % ($p.elWidth ($p.elMargin && $p.elMargin * 2) || $p.elHorMargin || 0px) : $p.elWidth)
		margin: $p.elMargin

		if !$p.elMargin
			&:nth-child(odd)
				margin-right ($p.elHorMargin / 2)
				margin-bottom ($p.elVertMargin / 2)

			&:nth-child(even)
				margin-left ($p.elHorMargin / 2)
				margin-top ($p.elVertMargin / 2)


