/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {

}

b-slider extends i-block
	&__root-wrapper
		size 100%

	&__window
		size 100%
		display flex
		position relative
		overflow hidden

	&__view
		size 100%
		display flex
		overflow hidden
		useGPU()


