/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	showScrollBreakpoint: 1024px
}

b-slider_mode_scroll extends b-slider
	/mode &__view
		position relative

	/mode &__fake-view-wrapper
		position relative
		display flex
		width 100%
		opacity 0
		pointer-events none

	/mode &__outer-view-wrapper
		absolute left 0 top 0
		size 100%
		padding-bottom 10px
		overflow-x scroll

		@media (min-width $p.showScrollBreakpoint)
			padding-bottom 0

	/mode &__view-wrapper
		display flex

	/mode&_fake_false &__outer-view-wrapper
		position relative
