/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-block/i-block.styl"
@import "components/traits/i-progress/i-progress.styl"

$p = {
	progressHelpers: false
}

i-data extends i-block
	// @stlint-disable
	i-progress({helpers: $p.progressHelpers})
	// @stlint-enable
