/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-input_theme_light-form extends b-input
	/theme &__input
		font-weight 500
		font-size 1em

	/theme&_valid_true &__input
		color $p.color
