/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	width: 20em,
	color: #FFF,
	focusedColor: #6491BF,
	backgroundColor: transparent,
	backgroundFocusedColor: #FFF,
	shadowColor: alpha(#000, 0.14),
	borderColor: alpha(#F7F7F7, 0.2)
}

b-input_theme_header extends b-input
	/theme
		display flex
		width $p.width
		height 100%
		background $p.backgroundColor
		transition width 0.3s

		&:hover
			background alpha($p.backgroundFocusedColor, 0.1)

	/theme&_focused_true,
	/theme&_empty_false
		width ($p.width + 10em)

	/theme&_width
		&_full
			width 100%

		&_auto
			width auto

	/theme &__root-wrapper
		padding 0 1em
		border-top 0
		border-bottom 0
		border-color $p.borderColor
		box-shadow -1px 0 0 $p.shadowColor, 1px 0 0 $p.shadowColor

	/theme&_focused_true &__root-wrapper
		background $p.backgroundFocusedColor
		box-shadow none

	/theme &__input,
	/theme &__input::placeholder,
	/theme &__icon
		color $p.color

	/theme&_focused_true &__input,
	/theme&_focused_true &__input::placeholder,
	/theme&_focused_true &__icon
		color $p.focusedColor
