/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {
	width: 15em
}

b-input extends i-input
	display inline-block
	width $p.width

	&_focused_true
		z-index 1

	&_progress_true
		pointer-events auto

	&__root-wrapper,
	&__super-wrapper,
	&__wrapper
		display flex
		box-sizing border-box
		width 100%

	&__super-wrapper
		cursor text

	&__wrapper
		align-items center

	&__cell
		flex auto

	&__input-cont
		width 100%

	&__input
		margin 0
		width 100%
		border 0
		background transparent
		overflow hidden
		text-overflow ellipsis

		&::-ms-clear
			display none

		&:focus,
		&:valid,
		&:invalid
			outline 0

	&__post-icon + &__clear
		display none

	&__clear
		visibility hidden
		cursor pointer

	&_focused_true&_empty_false &__clear
		display block
		visibility visible

	&_focused_true&_empty_false &__post-icon,
	&_progress_true &__icon&__clear
		display none

	&__valid-status,
	&__progress
		pointer-events none

	&_focused_true &__valid-status
		display none

	&_show-error_true &__error-box
		display none

	&_show-error_true&_focused_true&_valid_false &__error-box
		display block
