/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #000,
	backgroundColor: #FFF,
	shadowColor: alpha(#222, 0.5),
	validColor: #7FB425,
	invalidColor: #D44D24
}

b-input
	background $p.backgroundColor

	&_disabled_true
		background darken($p.backgroundColor, 10%)

	for $el in (none 0) (small 0.18em) (normal 0.3em) (big 0.8em)
		&_rounding_{$el[0]},
		&_rounding_{$el[0]} &__root-wrapper,
		&_rounding_{$el[0]} &__super-wrapper
			border-radius $el[1]

	&__root-wrapper
		border 1px solid darken($p.backgroundColor, 15%)
		transition 0.2s ease-in border-color

	&_focused_true &__root-wrapper
		border 1px solid darken($p.backgroundColor, 35%)

	&_disabled_true &__root-wrapper
		opacity 0.5

	&__cell
		margin-right 1em

	&__input-cont
		width 100%

	&__input
		padding 0.7em 0
		color $p.color
		font 400 1em BASE_FONT

		&:-webkit-autofill
			-webkit-box-shadow 0 0 0 100em $p.backgroundColor inset !important

		&::placeholder
			color lighten($p.color, 50%)
			opacity 1

		&:focus::placeholder
			opacity 0.5

		&:valid,
		&:invalid
			box-shadow none

	&_disabled_true &__input,
	&_disabled_true &__icon
		color darken($p.color, 20%)

	&__icon
		color lighten($p.color, 10%)
		text-shadow none

		span
			font-size 1.2em

		&:hover
			color lighten($p.color, 20%)

	&__progress span
		font-size 1em

	&_valid_true &__valid-status
		color $p.validColor

	&_valid_false &__input,
	&_valid_false &__valid-status
		color $p.invalidColor

	&__pre-icon
		margin-left 0.5em
