/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	borderColor: #E6E6E6
}

b-input_theme_chat-form extends b-input
	/theme &__root-wrapper
		border 0
		border-bottom 2px solid $p.borderColor
