/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-input_theme_auth extends b-input
	/theme &__root-wrapper
		border 0

	/theme&_focused_true &__root-wrapper
		border 0
		box-shadow 0 0 10px alpha(#000, 0.25)
