/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	width: 10em
}

b-input_theme_link extends b-input
	/theme
		width $p.width
		background none

		&_disabled_true
			background @background

	/theme &__root-wrapper
		border 0

	/theme &__input
		font-size 1em
