/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #000
	bgColor: #FFF
	shadowColor: alpha(#222, 0.5)
	validColor: #7FB425
	invalidColor: #D44D24
	messageHelpers: true
}

b-input
	background-color $p.bgColor

	&__root-wrapper
		border 1px solid darken($p.bgColor, 15%)
		transition 0.2s ease-in border-color

	&__wrapper
		align-items center

	&__cell
		margin-right 1em

	&__input-cont
		margin-right 0.3em
		margin-left 0.4em

	&__input
		padding 0.7em 0

		font-family BASE_FONT
		font-size 1em
		font-weight 400
		color $p.color

		// @stlint-disable
		&:-webkit-autofill
		// @stlint-enable
			-webkit-box-shadow 0 0 0 100em $p.bgColor inset !important

		&::placeholder
			opacity 1
			color lighten($p.color, 50%)

		&:focus::placeholder
			opacity 0.5

		&:valid
		&:invalid
			box-shadow none

	&__icon
		color lighten($p.color, 10%)
		text-shadow none

		span
			font-size 0.8em

		&:hover
			color lighten($p.color, 20%)

	&__progress span
		font-size 0.8em

	&__pre-icon
		margin-left 0.5em

	&_disabled_true
		background darken($p.bgColor, 10%)

	&_focused_true &__root-wrapper
		border 1px solid darken($p.bgColor, 35%)

	&_disabled_true &__root-wrapper
		opacity 0.5

	&_disabled_true &__input
	&_disabled_true &__icon
		color darken($p.color, 20%)

	for $el in (none 0) (small 0.18em) (normal 0.3em) (big 0.8em)
		&_rounding_{$el[0]},
		&_rounding_{$el[0]} &__root-wrapper,
		&_rounding_{$el[0]} &__super-wrapper
			border-radius $el[1]

	&_valid_true &__valid-status
		color $p.validColor

	&_valid_false &__input
	&_valid_false &__valid-status
		color $p.invalidColor
