/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	messageHelpers: true
	sizeHelpers: false
}

b-input
	color-from-obj($obj)
		$color = getField($obj, color)

		if $color
			color $color

	generate($kk)
		$mod = getField($p, path(mods $kk))
		$textStyle = getField($mod, textStyle)

		if $textStyle
			for $key, $val in getDSOptions(path(text $textStyle style))
				$mod[$key] = $val

		if $mod
			interpolate-props($mod)

	for $key, $val in getDSOptions(rounding)
		&_rounding_{$key}
		&_rounding_{$key} &__root-wrapper
		&_rounding_{$key} &__super-wrapper
			border-radius $val

	&__root-wrapper
		$back = getField($p, "block")
		interpolate-props($back)

	&_focused_true &__root-wrapper
		generate(focus)

	$sizes = getField($p, "mods.size")
	if $sizes
		&_size
			for $key, $value in $sizes
				&_{$key}
					& ^[0]
						&__input-cont
							$horOffset = getField($value, horOffset)
							$vertOffset = getField($value, vertOffset)

							if $vertOffset
								padding-left $vertOffset
								padding-right @padding-left

							if $horOffset
								padding-top $horOffset
								padding-bottom @padding-top

						&__input
							text-options(getField($value, textStyle))
							line-height 1

							&::placeholder
								text-options(getField($value, placeholderStyle))
								line-height 1
								color getField($value, placeholderColor)

	&_valid
		for $key, $obj in getField($p, path(mods valid))
			&_{$key}
				for $fieldName, $value in $obj
					if $fieldName == "style"
						& ^[0]__root-wrapper
							interpolate-props($value)

					if $fieldName == "focus"
						&^[0]_{$fieldName + "ed"}_true ^[0]__root-wrapper
							interpolate-props($value)

					if $fieldName == "info"
						& ^[0]__info-box
							text-options(getField($value, textStyle))
							color-from-obj($value)

							$offset = getField($value, offset)
							if $offset
								for $key, $val in $offset
									margin-{$key} $val

					if $fieldName == "icon"
						& ^[0]__icon
							color-from-obj($value)

							svg
								width getField($value, width)
								height getField($value, height)

							$right = getField($value, "offset.right")
							if $right
								margin-right $right

	&__input
		&:-webkit-autofill
			-webkit-box-shadow 0 0 0 100em $p.backgroundColor inset !important

	$readonly = getField($p, path(mods readonly))
	if $readonly
		&_readonly_true
			cursor default
			interpolate-props($readonly)

		&__input:read-only::placeholder
			color-from-obj($readonly)

	&__progress span
		font-size 0.8em
