/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-width/i-width.styl"

$p = {
	widthHelpers: true
	progressHelpers: true
	accessHelpers: true
	visibleHelpers: true
}

b-input extends i-input
	// @stlint-disable
	i-width({helpers: $p.widthHelpers})
	// @stlint-enable

	display inline-block

	&__root-wrapper
	&__super-wrapper
	&__wrapper
		display flex
		width 100%

	&__super-wrapper
		cursor text

	&__cell
		flex auto

	&__input-cont
		width 100%

	&__input
		width 100%
		overflow hidden
		margin 0

		text-overflow ellipsis

		border 0
		background transparent

		// @stlint-disable
		&::-ms-clear
		// @stlint-enable
			display none

		&:focus
			-webkit-tap-highlight-color transparent

		&:focus
		&:valid
		&:invalid
			outline 0

	&__post-icon + &__clear
		display none

	&__clear
		visibility hidden
		cursor pointer

	&_focused_true&_empty_false &__clear
		display block
		visibility visible

	&_focused_true&_empty_false &__post-icon
	&_progress_true &__icon&__clear
		display none

	&__valid-status
	&__progress
		pointer-events none

	&_progress_true
		pointer-events auto

	&_focused_true
		zIndex(layer, 1)

	&_focused_true &__valid-status
		display none

	&_show-error_true &__error-box
		display none

	&_show-error_true&_focused_true&_valid_false &__error-box
		display block
