/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"
@import "traits/i-visible/i-visible.styl"

$p = {
	sideBarTransition: EASING_DURATION linear
	overlayTansition: EASING_DURATION ease-in
	visibleHelpers: true
}

b-sidebar extends i-data
	i-visible({helpers: $p.visibleHelpers})

	fixed top 0 left 0
	z-index-pos modal

	&
	&__content-wrapper
		transform translateX(-100%)

	&
	&__root-wrapper
		size 100%

	if $p.sideBarTransition
		transition transform 0s $p.sideBarTransition

		&__content-wrapper
			transition transform $p.sideBarTransition

		&_opened_true
			transition none

	if $p.overlayBg
		&__over-wrapper
			z-index-pos layer
			display block
			background $p.overlayBg
			opacity 0

			if $p.overlayTansition
				transition opacity $p.overlayTansition

		&_opened_true &__over-wrapper
			opacity 1

	&_opened_true
	&_opened_true &__content-wrapper
		transform translateX(0)
