/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-matryoshkas
	&__children
		margin-left 24px

	&__children
	&__matryoshka ~ &__matryoshka
		margin-top 4px

	&__fold
		&:before
			content "-"
			display inline-block

			line-height 0
			text-align center
			cursor pointer

	&__matryoshka_folded_true &__fold:before
		content "+"

	&__marker
		width 8px
		margin-right 8px

	&__matryoshka_folded_true > &__children
		display none

	&__doll-box
		display flex
		align-items center
