/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "nib/positions"
@import "global/g-def/funcs.styl"
@import "global/g-def/consts.styl"

$p = {
	onActive: {
		transform: translate(1px, 1px)
	}
}

i-base
