# IDE
.idea

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
.vscode

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Dependencies
/bower_components
/node_modules
/.yalc
/.yarn
/yalc.lock

# Build && test
/coverage
/.nyc_output
/dist
/tsconfig.json
/client.tsconfig.json
/statoscope-stats
.env

# Log
*.log
/stats.json

# Temporary
*.tmp
*.gz
*.tgz
/Releases-js
/tmp
/app-cache
/.eslintcache
/app-std-cache
/src/entries/tmp
/db

# NPM ignore list
/docs
/.github
/.husky
