/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-dynamic-page/i-dynamic-page.styl"

$p = {

}

p-v4-dynamic-page1 extends i-dynamic-page
	&__horizontal-scroll
		flex-row center
		max-width 300px
		overflow-x scroll
