@import "super/i-block/i-block.styl"

$p = {

}

b-shopping-list-badge extends i-block
	flex-row center
	size 100px
	background-color #1a2835

	border-radius 4px

	font-size 20px
	color #FFF
	text-align center

	&__count
		size 80% 20px
		background-color #82cc93
