/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	height: 2em,
	optionSelectedColor: #EBF3F7,
	borderColor: #CCC
}

b-select_theme_paging extends b-select
	/theme&_focused_true &__root-wrapper
		box-shadow none

	/theme &__root-wrapper
		border 1px solid $p.borderColor
