/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-colors-kit/g-colors-kit.styl"

$p = {
	width: 8.5em,
	optionSelectedColor: #EBF3F7,
	clearColor: #FFF
}

b-select_theme_status extends b-select
	/theme
		width $p.width
		background transparent
		border-radius 4px

	/theme &__expand
		margin 0 0.2em 0 0
		color $p.clearColor

	/theme &__option
		padding 0.4em 0.8em
		cursor pointer

		pickOptionColor($status, $color)
			&[data-value={'"' + $status + '"'}]
				color $color

			> :before
				border-color $color

		setColorsKit($cb: pickOptionColor)

		&:hover
			background lighten($p.optionSelectedBackgroundColor, 30%)

		&_selected_true
			background $p.optionSelectedBackgroundColor

			&:hover
				background @background

	/theme &__option
		display flex
		align-items center
		text-transform uppercase
		font-weight bold

		&:before
			display inline-block
			margin-right 0.5em
			width 1em
			height @width
			border-width 0.2em
			border-style solid
			border-radius 50%
			content ' '

	/theme &__dropdown &__dropdown-content
		padding 0.4em 0

	/theme &__input
		max-width 90%
		padding 0.2em 0 0.4em
		overflow hidden

		text-align center
		text-overflow ellipsis
		white-space nowrap

		font-weight normal
		font-size 1em

	/theme &__root-wrapper
		border 0
		border-color inherit
		border-radius 4px

	/theme&_status
		pickColor($status, $color)
			&_{dasherize($status)}
				background-color $color

				& ^[0]__input
					color #FFF

		setColorsKit($cb: pickColor)
