/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input-text/i-input-text.styl"

$p = {
	widthHelpers: true
	progressHelpers: true
	accessHelpers: true
	visibleHelpers: true
	dropdownHelpers: true
}

b-select extends i-input-text
	position relative
	display inline-block

	&__root-wrapper
	&__wrapper
		display flex
		width 100%

	&__wrapper
		cursor text

	&__cell
		flex auto

	&__input-wrapper
		width 100%

	&__input
		width 100%
		overflow hidden
		margin 0

		text-overflow ellipsis

		border 0
		background transparent

		// @stlint-disable
		&::-ms-clear
			// @stlint-enable
			display none

		&:focus
			-webkit-tap-highlight-color transparent

		&:focus
		&:valid
		&:invalid
			outline 0

	&__post-icon + &__clear
		display none

	&__clear
		visibility hidden
		cursor pointer

	&__progress
	&__valid-status
		pointer-events none

	&__valid-status
		display none

	&_focused_true&_empty_false:not(&_readonly_true) &__clear
		display block
		visibility visible

	&__native
		absolute top 0 left 0
		size 100%
		opacity 0

	&__item
		display block
		cursor pointer
		white-space nowrap

	&__expand
		cursor pointer

	&__input[readonly="readonly"]
		cursor pointer

	&__dropdown
		display none

	&_opened_true
		zIndex(layer, 1)

	&_opened_true &__dropdown
		display block
