/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-input/b-input.styl"

$p = {
	dropdownHelpers: true,
	optionSelectedBackgroundColor: #EBF3F7
}

b-select extends b-input
	&_opened_true
		z-index 10000

	&__native
		absolute top 0 left 0
		width 100%
		height 100%
		opacity 0

	&__option
		display block
		padding 0.4em
		min-width 8em
		white-space nowrap
		cursor pointer

		&:hover
			background lighten($p.optionSelectedBackgroundColor, 30%)

		&_selected_true
			background $p.optionSelectedBackgroundColor

			&:hover
				background @background

	&__expand
		cursor pointer

	&__dropdown-content-wrapper
		display block
		max-height 20em
		overflow hidden
		background inherit

	&__dropdown &__dropdown-content
		padding 0.4em 0
