/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-input/b-input.styl"

$p = {
	dropdownHelpers: true
}

b-select extends b-input
	position relative

	&__native
		absolute top 0 left 0
		size 100%
		opacity 0

	&__option
		display block
		cursor pointer
		white-space nowrap

	&__expand
		cursor pointer

	&__dropdown-content-wrapper
		display block
		overflow hidden
		background inherit

	&__input[readonly="readonly"]
		cursor pointer

	&_opened_true
		zIndex(layer, 1)
