/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-button/b-button.styl"

$p = {

}

b-file-button extends b-button
	&__file
		display none
