/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "base/b-window/b-window.styl"

$p = {

}

b-window-form extends b-window
	&__form
		display flex
		flex-direction row
		width 100%

	for $i in 1..4
		&__group-{$i}
			width (100% / $i)

	&__row
		white-space nowrap

	&__label
		display block
