/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-window-form
	&__title
		padding 1em

	&__form
		margin-top 2em

	&__row
		margin 1.5em 1em

	&__label
		margin-bottom 0.5em
		font-size 1.1em
		font-weight bold
