/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "base/b-window/b-window.styl"

$p = {

}

b-window-form extends b-window
	&__title
		padding 1em

	&__form
		display flex
		flex-direction row
		margin-top 2em
		width 100%

	for $i in 1..4
		&__group-{$i}
			width (100% / $i)

	&__row
		margin 1.5em 1em
		white-space nowrap

	&__label
		display block
		margin-bottom 0.5em
		font-weight bold
		font-size 1.1em
