/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-hint/g-hint.interface.styl"

.g-hint
	// @stlint-disable
	extends($gHint, {
		hintData: data-hint,
		showSelector: "&[data-hint]:hover",
	})
	// @stlint-enable
