/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #6153B9
}

b-progress-icon
	&__loader
	&__i
		border ($p.size / 4) solid alpha($p.color, 0.4)

	&__i
		border-left-color $p.color
