/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	size: 0.8em
}

b-progress-icon extends i-block
	position relative
	display inline-block

	&__loader
	&__i
		display block
		width $p.size
		height $p.size
		border ($p.size / 4) solid transparent
		border-radius 50%

	&__i
		absolute top 0 left 0
		border-color transparent
		transform translateZ(0)
		animation rotate 1.1s infinite linear
