/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

.g-slider
	overflow-x auto
	white-space nowrap
	display flex
	scroll-snap-type x mandatory

	&__horizontal_true
		scroll-snap-type x mandatory

	&__vertical_true
		flex-direction column
		scroll-snap-type y mandatory
		height 100%

	& > *
		scroll-snap-align start

	&__slide_snap_start
		scroll-snap-align start

	&__slide_snap_center
		scroll-snap-align center

	&__slide_snap_end
		scroll-snap-align end
