/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

.g-slider
	overflow-x auto
	white-space nowrap
	scroll-snap-type x mandatory
	scroll-snap-points-x repeat(100%)

	& > *
		scroll-snap-align center
