/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {

}

b-group extends i-data
	&__title
		display flex
		align-items top

	&__toggle
		cursor pointer

	&__content
		display none

	&_opened_true &__content
		display block
