/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #A9A9A9
}

b-group
	padding 0.5em
	background darken(invert($p.color), 60%)
	color $p.color

	&__title-text
		margin-right 0.3em

	&__toggle:hover
		color lighten($p.color, 50%)

	&__content
		margin-top 0.3em
