/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "icons/b-progress-icon/b-progress-icon.styl"

$p = {
	progressIconColor: #333
}

b-list
	&__cell + &__cell
		margin-left 0.3em

	&_disabled_true &__root-wrapper,
	&_progress_true &__root-wrapper
		opacity 0.5

	&__link-progress
		.b-progress-icon
			b-progress-icon({color: $p.progressIconColor, size: 0.6em})
