/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {

}

b-list extends i-data
	&__wrapper
	&__link
		display flex
		align-items center

	&__cell
		display flex

	&__el
	&__link
		position relative

	&__link:active
		{$p.onActive}

	&__el
	&__link_progress_true &__link-progress
		display block

	&__link-progress
		display none

	&__g-icon
		display inline-block
		size 100%
