/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #4B494B,
	iconColor: #6EC5F9,
	hoverBackgroundColor: #EEE
}

b-list_theme_light-vert extends b-list
	/theme &__wrapper
		flex-direction column
		align-items start

	/theme &__el
		width 100%

	/theme &__el + &__el
		margin 0

	/theme &__link
		padding 0.5em 1.5em 0.5em 0.5em
		color $p.color
		text-decoration none

		&:hover
			background $p.hoverBackgroundColor

	/theme &__link-icon
		color $p.iconColor
