@keyframes fade-out
	from
		opacity 0

	to
		opacity 1

@keyframes scale
	from
		transform scale(1)

	to
		transform scale(2)

@keyframes rotate
	from
		transform rotate(0deg)

	to
		transform rotate(360deg)

.fade-enter-active,
.fade-leave-active,
.fade-in-enter-active
	transition opacity 0.3s

.fade-enter,
.fade-leave-to,
.fade-in-enter
	opacity 0
