/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

// @stlint-disable
$grey = #BBB, #CCC, #999, #4B4C5A,
	#F4F4F4, #DDD

/**
 * Sets of used shades of various colors
 */
registerColors({
	white: #FFF
	grey: $grey
	black: #000 #09141F
	green: #27AE61
}, @projectName)

// @stlint-enable
