/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-def/funcs.styl"

/**
 * Default transition duration
 */
EASING_DURATION = 0.22s

/**
 * Blueprint to interpolate the base system font
 */
BASE_FONT_PATTERN = '"Open Sans%t", Arial, sans-serif'

/**
 * Base system font
 */
BASE_FONT = getGlobalFont()
