/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-def/funcs.styl"

EASING_DURATION = 0.22s
BASE_FONT_PATTERN = '"Open Sans%t", Arial, sans-serif'
BASE_FONT = execFontPattern()
