/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

BASE_CONTENT_WIDTH = 100em
BASE_EASING_DURATION = 0.22s
BASE_FONT = "Open Sans", Arial, sans-serif
