/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "~@pzlr/stylus-inheritance/runtime.styl"

/**
 * Global images cache
 */
$IMG = {}

/**
 * Saves the specified image to thew global cache
 * @param {string} $img
 */
img($img)
	$prop = current-property[0]
	$keys = {
		background: background-image
		background-image: background-image
	}

	$IMG[$img] = ( selector() $keys[$prop] )
	return

/**
 * Generates images classes
 */
generateImgClasses()
	for $key, $el in $IMG
		{$el[0]}
			add-property($el[1], "url(%s)" % $key)

/**
 * Generates rules for colorized styles
 *
 * @param {Tuple} [$set] - set of colors
 * @param {Tuple} [$styles] - list of styles
 * @param {string=} [$selector] - additional selector
 * @param {string=} [$key] - color key
 * @param {Function=} [$cb] - callback function
 */
setColorMods($set, $styles = null, $selector = '', $key = 'backgroundColor', $cb = null)
	for $s in $set
		$color = $set[$s][$key]

		if $cb
			$cb($s, $color)

		else if $styles
			&_{dasherize($s)}{$selector},
			&_{$s}{$selector}
				for $style in $styles
					{$style}: $color

/**
 * CSS hack for IE10-11
 */
ie10-11()
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
		{block}

/**
 * Activates GPU for render
 */
useGPU()
	transform translate3d(0, 0, 0)

/**
 * Generates rules for flexbox
 *
 * @param {string} $justify
 * @param {string=} [$align]
 */
flexbox($justify, $align = $justify)
	display flex
	justify-content $justify
	align-items $align

	if arguments[2]
		flex-direction arguments[2]

/**
 * Generates rules for button css reset
 */
resetButton()
	display inline-block
	box-sizing border-box
	margin 0
	padding 0
	outline 0
	border 0
	border-spacing 0
	background none
	vertical-align middle
	text-align left
	text-decoration none
	text-indent 0
	white-space normal
	font-weight normal
	font-family BASE_FONT
	line-height 1

	&:focus
		outline 0
