/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-def/funcs.styl"
@import "global/g-def/const.styl"
@import "global/g-def/animations.styl"
@import "global/g-def/reset.styl"

/** @deprecated */
@import "global/g-def/consts.styl"

//#if runtime has theme
//#unless runtime has includeThemes
:root
	interpolate-props(getDSVariables(defaultTheme()), false)
//#endunless
//#endif

//#if runtime has includeThemes
for name in includedThemes()
	html.{ROOT_GLOBAL_NAME}_theme_{name}
		interpolate-props(getDSVariables(name), false)
//#endif
