/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "nib/reset"
@import "global/g-def/funcs.styl"
@import "global/g-def/consts.styl"

global-reset()
reset-html5()

html
	font-size 14px
	font-family BASE_FONT

	for $el in (1600px 14px) (1400px 13px) (1300px 12px) (1100px 11px)
		@media all and (max-device-width $el[0])
			font-size $el[1]

for $i in 1..6
	h{$i}
		margin 0
		padding 0.2rem
		font-weight bold
		font-size (2 - 0.2 * $i)rem

p
	margin 0
	padding 0.4rem

.a
	resetButton()
	cursor pointer

a, .a
	border 1px dotted transparent

	img
		border 0
