/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "nib/reset"
reset-html5()

html
	font-family BASE_FONT

.a
	resetButton()
	cursor pointer

a, .a
	img
		border none
