/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-static-page/i-static-page.styl"

$p = {

}

p-v4-components-demo extends i-static-page
