/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	helpers: true
}

i-width
	if $p.helpers
		&_width
			&_full
				width 100%

			&_auto
				width auto
