/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

/**
 * Returns a color from the global kits or from Design System
 *
 * @param {string} $kit
 * @param {number|string} [$id]
 * @param {boolean=} [$reserved]
 * @param {boolean=} [$base]
 */
c($kit, $id = null, $reserved = false, $base = false)
	if getDSOptions("colors")
		return getDSColor($kit, $id)

	getGlobalColor($kit, $id || null, $reserved, $base)

/**
 * Returns a set of rules by the specified icon name
 *
 * @param {string} $name
 * @param {object|ident=} [$params] - transform parameters object or a background repeating rule
 * @param {object|ident=} [$opts] - background options object or a background alignment rule
 *
 * @see https://github.com/JetBrains/svg-mixer/tree/master/packages/svg-transform-loader#how-to-pass-transform-parameters
 *
 * @example
 * ```stylus
 * i('24/foo')
 * i('24/foo', repeat-x, left)
 * i('24/foo', {fill: '#FFF'})
 * i('24/foo', {stroke: 'black #qwe'}, left)
 * ```
 */
i($name, $params = null, $opts = null)
	$repeat = no-repeat
	$align = center
	$imgPath = join(".", $name svg)

	if type($opts) == "object"
		$repeat = $opts.repeat || no-repeat
		$align = $opts.align || center

	else if type($opts) == "ident"
		$align = $opts

	if type($params) == "object"
		$imgPath = createURL({href: $imgPath, query: $params})

	else if type($params) == "ident"
		$repeat = $params

	background img($imgPath, true) $repeat $align

	$chunks = split("/", $name)

	if length($chunks) > 1 and type(convert($chunks[0])) == "unit"
		size unit(convert($chunks[0]), "px")

/**
 * Returns text style rules from Design System styles by the specified name
 * @param {string} $name - text style name
 */
t($name)
	$name = replaceByRegExp($name, "[ \/]", "-", "g")
	$obj = getDSOptions("text." + $name)

	if $obj
		interpolate-props($obj)

/**
 * Returns a border-radius rule from Design System styles by the specified name and position
 *
 * @param {string} $name - border-radius DS name
 * @param {string} [$pos] - %s tokens-styled string for multiple border-radius values
 *
 * @example
 * r(big, '$s 0 $s') -> border-radius 16px 0 16px
 */
r($name, $pos = null)
	$val = getDSOptions("rounding." + $name)

	if $val
		if $pos
			border-radius convert(replace("%s", s("%s", $val), $pos))

		else
			border-radius $val

/**
 * Generates necessary rules for the specified component options and factory.
 * The function is used to integrate a Design System.
 *
 * @param $p
 * @param $fn
 */
generateRules($p, $fn)
	if !$p.skipDsInheritance
		//#if runtime has ds-vars
		$fn($p.__vars__)
		//#endif

		//#unless runtime has ds-vars
		$fn($p)
		//#endunless

		//#if runtime has ds-diff
		&_diff_true
			$fn($p.__diffVars__)

		&_diff_false
			$fn($p.__vars__)
		//#endif
