/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	messageHelpers: true
	sizeHelpers: false
}

b-button
	createStyles($obj)
		&^[0]
			for $key, $val in getDSOptions(rounding)
				&_rounding_{$key} ^[0]__button
					border-radius $val

			if getField($obj, "mods.size")
				&_size
					for $key, $value in getField($obj, "mods.size")
						&_{$key}
							& ^[0]
								&__value
									$horOffset = getField($value, horOffset)
									$vertOffset = getField($value, vertOffset)

									if $vertOffset
										padding-left $vertOffset
										padding-right @padding-left

									if $horOffset
										padding-top $horOffset
										padding-bottom @padding-top

								&__button
									text-options(getField($value, textStyle))
									line-height 1

			getExteriorStyle($name, $prop)
				getField($obj, path(exterior $name $prop))

			generateExterior($k)
				$extBg = getExteriorStyle($k, backgroundColor)
				$extColor = getExteriorStyle($k, color)

				generate($kk)
					path-to-mod($v)
						path(mods $kk $v)

					getValue($prop)
						getExteriorStyle($k, path-to-mod($prop)) || getField($obj, path-to-mod($prop))

					$color = getValue(color)
					$bg = getValue(backgroundColor)
					$blendMode = getValue(blendMode)
					$boxShadow = getValue(boxShadow)

					if $boxShadow
						box-shadow $boxShadow

					if $color
						color $color

					if $blendMode and $bg is a "color" and $extBg is a "color"
						background blend($bg, $extBg, $blendMode)

					else if $bg
						background $bg

				&^[0]_disabled_true
					& ^[0]__button
						generate(disabled)

				&^[0]_focused_true
					& ^[0]__button
						generate(focus)

				& ^[0]__button
					if $extBg
						background $extBg

					if $extColor
						color $extColor

					for $key in (hover focus active)
						if getField($obj, path(mods $key))
							&:{$key}
								generate($key)

			if getField($obj, exterior)
				for $key, $val in getField($obj, exterior)
					&_exterior_{$key}
						generateExterior($key)

			@supports (-ms-accelerator true)
				& ^[0]__button
					border-width 0.1em

			& ^[0]__button
				transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out

			for $key in (post-icon pre-icon)
				$params = getField($obj, path(mods camelize($key)))

				if $params
					& ^[0]__{$key}
						margin-{$key == "pre-icon" ? right : left} getField($params, offset)

	//#if runtime has ds-vars
	createStyles($p.__vars__)
	//#endif

	//#unless runtime has ds-vars
	createStyles($p)
	//#endunless

	//#if runtime has ds-diff
	&_diff_true
		createStyles($p.__vars__)
	//#endif
