/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"
@import "traits/i-access/i-access.styl"
@import "traits/i-visible/i-visible.styl"
@import "traits/i-width/i-width.styl"
@import "traits/i-size/i-size.styl"

$p = {
	accessHelpers: true
	visibleHelpers: true
	widthHelpers: true
	sizeHelpers: true
	dropdownHelpers: true
	progressHelpers: true
}

b-button extends i-data
	i-access({helpers: $p.accessHelpers})
	i-visible({helpers: $p.visibleHelpers})
	i-width({helpers: $p.widthHelpers, selector: ("" "&__button" "&__value")})
	i-size({helpers: $p.sizeHelpers})

	display inline-block
	user-select none

	&__root-wrapper
		flex-direction column

	&__root-wrapper
	&__button
	&__wrapper
		display flex
		box-sizing border-box
		width 100%
		min-height 100%

	&__button
		font-family BASE_FONT
		font-size 1em
		text-align center
		text-transform inherit

		border none
		cursor pointer

		&:focus
			outline 0

		&:active
			{$p.onActive}

	&__wrapper
		justify-content center
		align-items center

	&__cell
	&_progress_true &__progress
		display flex

	&__progress
		display none

	&__value
		justify-content center
		width $p.width

	&__dropdown &__dropdown-content
		padding 0

	&__g-icon
		display inline-block
		size 100%

	&_upper_true &__button
		text-transform uppercase
