/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {
	lockHelpers: true
	sizeHelpers: true
	messageHelpers: true
	dropdownHelpers: true
	width: auto
}

b-button extends i-data
	display inline-block
	user-select none

	&_upper_true &__button
		text-transform uppercase

	&_width_full &__button
	&_width_full &__value
		width 100%

	&_width_auto &__value
		width auto

	&__root-wrapper
		flex-direction column

	&__root-wrapper
	&__button
	&__wrapper
		display flex
		box-sizing border-box
		min-height 100%
		width 100%

	&__button
		border none
		font-size 1em
		font-family BASE_FONT
		text-transform inherit
		text-align center
		cursor pointer

		&:focus
			outline 0

		&:active
			{$p.onActive}

	&__wrapper
		align-items center
		justify-content center

	&__cell
	&_progress_true &__progress
		display flex

	&__progress
		display none

	&__value
		justify-content center
		width $p.width

	&__dropdown &__dropdown-content
		padding 0

	&__g-icon
		display inline-block
		size 100%
