/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: c(#FFF)
	shadow: 0 0 0.45em alpha(c(#222), 0.5)
	buttonPadding: 0.5em 1em
	buttonFontWeight: bold
	offsetBetweenCells: 0.3em
	colorBrightnessOnAction: 20%
	messageHelpers: true
	defaultExterior: primary
}

b-button
	for $key, $val in getDSOptions(rounding)
		&_rounding_{$key} &__button
			border-radius unit($val, px)

	getBgFor($name)
		getField($p, "exterior." + $name + ".backgroundColor")

	generateExterior($k)
		$bg = getBgFor($k)

		&__button
			padding $p.buttonPadding
			background $bg
			color $p.color
			font-weight $p.buttonFontWeight

			&:focus
				box-shadow $p.shadow

			if ($p.colorBrightnessOnAction && $bg)
				&:hover
					background lighten($bg, $p.colorBrightnessOnAction)

		if ($p.colorBrightnessOnAction && $bg)
			&_disabled_true &__button
			&_progress_true &__button
				background-color lighten($bg, $p.colorBrightnessOnAction)

	if (getField($p, "exterior"))
		generateExterior($p.defaultExterior)

		for $key, $val in getField($p, "exterior")
			&_exterior_{$key}
				& ^[0]
					generateExterior($key)

	@supports (-ms-accelerator true)
		&__button
			border-width 0.1em

	&__button
		transition color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out

	&__cell + &__cell
		margin-left $p.offsetBetweenCells
