/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #FFF
	backgroundColor: #6153B9
	shadowColor: alpha(#222, 0.5)
}

b-button
	for $el in (none 0) (small 0.5em) (normal 1em) (big 2em)
		&_rounding_{$el[0]} &__button
			border-radius $el[1]

	&__button
		padding 0.5em 1em
		background $p.backgroundColor
		color $p.color
		font bold 1em BASE_FONT

		&:focus
			box-shadow 0 0 0.45em $p.shadowColor

		&:hover
			background lighten($p.backgroundColor, 20%)

		&:active
			background darken($p.backgroundColor, 20%)

	@supports (-ms-accelerator:true)
		&__button
			border-width 0.1em

	&_disabled_true &__button,
	&_progress_true &__button
		color lighten($p.color, 20%)

	&__cell + &__cell
		margin-left 0.3em

	&__expand .b-icon
		font-size 1em
