/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-button_theme_icon extends b-button
	/theme &__button
		border none
		padding 0
		background none

		&:focus
			box-shadow none

		&:hover
		&:active
			background none

	/theme &__value
		display none

	/theme&_disabled_true &__button,
	/theme&_progress_true &__button
		opacity 0.6
		pointer-events none
