/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-data/i-data.styl"

$p = {

}

b-dummy-user extends i-data
	gap 12px
	margin 10px
	padding 10px
	border-radius 12px
	background-color rgb(102, 38, 38)
