/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-checkbox/b-checkbox.styl"

$p = {
	width: auto
}

b-icon-checkbox extends b-checkbox
	display block

	&_width_full &__wrapper
		width 100%

	&_width_auto &__wrapper
		width auto

	&__wrapper
		display flex
		align-items center
		box-sizing border-box
		width $p.width
		color currentColor
		text-decoration none

		&:active
			{$p.onActive}
