/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-width/i-width.styl"

$p = {
	width: auto
}

b-icon-checkbox extends i-input
	// @stlint-disable
	i-width({helpers: $p.widthHelpers, selector: ("&__wrapper")})
	// @stlint-enable

	display block

	&__wrapper
		display flex
		align-items center
		width $p.width
		color currentColor
		text-decoration none

		&:active
			{$p.onActive}
