/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #4B494B
	bgColor: #FFF
	hoverColor: #FFF
	hoverBgColor: darken(#006358, 30%)
	checkedColor: #FFF
	checkedBgColor: #006358
}

b-icon-checkbox
	color $p.color

	&__wrapper
		margin-bottom 1em
		padding 1em
		border 1px solid lighten($p.color, 60%)
		background-color $p.bgColor

		&:hover
			background-color $p.hoverBgColor
			color $p.hoverColor

			span
				color @color

	&_checked_true &__wrapper
		background-color $p.checkedBgColor
		color $p.checkedColor
		border-color $p.hoverBgColor

		span
			color @color

		&:hover
			color darken($p.hoverColor, 5%)
			background darken($p.hoverBgColor, 7%)
			border-color $p.hoverBgColor

			span
				color @color

	&__cell + &__cell
		margin-left 0.5em

	&__cell:last-child
		margin-left auto
		padding-left 3em

	&__desc
		margin-top 0.3em
		font-size 0.8em
		color lighten($p.color, 20%)

	&_checked_true &__desc
		color darken($p.checkedColor, 10%)

	&__wrapper:hover &__desc
		color darken($p.hoverColor, 10%)
