/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-static-page/i-static-page.styl"

$p = {

}

p-v4-sync-test-page extends i-static-page
