/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"
@import "traits/i-visible/i-visible.styl"

$p = {
	visibleHelpers: false
}

b-form extends i-data
	i-visible({helpers: $p.visibleHelpers})
