/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	tooltipBackgroundColor: #FFBD53
	tooltipColor: #000
}

b-notifier
	&__tooltip
		padding 0.4em
		font-size 1.2em
		text-align center
		color $p.tooltipColor
		background $p.tooltipBackgroundColor
