/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-textarea
	&__super-wrapper
		max-height 10em
		padding 0.5em

	&_collapsed_true &__input
		height 1.1em

	&__limit
		padding 0.3em
		font-size 0.7em

		&_warning_true
			color $p.invalidColor
