/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input-text/i-input-text.styl"

$p = {
	widthHelpers: true
	progressHelpers: true
	accessHelpers: true
	visibleHelpers: true
}

b-textarea extends i-input-text
	display inline-block

	&__input
		display block
		width 100%
		padding 0
		resize none

	&__limit
		display none

	&_focused_true &__limit_hidden_false
		display block
