/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-input/b-input.styl"

$p = {

}

b-textarea extends b-input
	&__super-wrapper
	&__root-wrapper
		background inherit

	&__input
		display block
		width 100%
		overflow hidden
		padding 0

		border 0
		outline 0
		resize none

	&__limit
		display none

	&_focused_true &__limit_hidden_false
		display block
