/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	invalidColor: #F00
}

b-textarea
	&__input
		max-height 10em

	&__limit
		padding 0.3em
		font-size 0.7em

		&_warning_true
			color $p.invalidColor

	&_collapsed_true &__input
		height 1.1em
