/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

.jasmine_html-reporter
	position fixed
	top 0
	display none

.jasmine-failure-list
	display block
