/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/dummies/b-dummy/b-dummy.styl"

$p = {

}

b-reactive-prop-dummy extends b-dummy
