/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/global/g-def/funcs.styl"
@import "components/global/g-def/const.styl"
@import "components/global/g-def/animations.styl"
@import "components/global/g-def/reset.styl"

//#if runtime has theme
//#unless runtime has includeThemes
:root
	interpolate-props(getDSVariables(defaultTheme()), false)
//#endunless
//#endif

//#if runtime has includeThemes
//#if runtime['ds/use-prefers-color-scheme']
for name in availableThemes()
	@media (prefers-color-scheme: unquote(name))
		:root
			interpolate-props(getDSVariables(name), false)
//#endif

for name in availableThemes()
	html[data-theme={"%s" % name}]
		interpolate-props(getDSVariables(name), false)
//#endif
