/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: alpha(#FFF, 0.6)
	gradColor1: alpha(#FFBE00, 1)
	gradColor2: alpha(#FEB645, 1)
}

b-progress
	&_progress_true &__progress
		border 0.1em invert($p.color) solid
		border-radius 2px

	&__line
		background linear-gradient(to right, $p.gradColor1 0, $p.gradColor2 100%)
		box-shadow 1px 0 3px alpha($p.color, 0.2)

	&__point
		background $p.color
