/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	width: 10em
	height: 0.5em
	pointWidth: 1px
}

b-progress extends i-block
	&_progress_true &__progress
		display block
		size $p.width $p.height

	&__line,
	&__point
		height 100%

	&__point
		float right
		width $p.pointWidth
