/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"
@import "traits/i-visible/i-visible.styl"

$p = {
	width: 10em
	height: 0.5em
	pointWidth: 1px
	visibleHelpers: true
}

b-progress extends i-block
	i-visible({helpers: $p.visibleHelpers})

	&__line
	&__point
		height 100%

	&__point
		float right
		width $p.pointWidth

	&_progress_true &__progress
		display block
		size $p.width $p.height
