/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-size/i-size.styl"

$p = {
	width: 1.2em
	sizeHelpers: true
	accessHelpers: true
	visibleHelpers: true
}

b-checkbox extends i-input
	i-size({helpers: $p.sizeHelpers})

	position relative
	display inline-block

	&__wrapper
		display flex
		align-items center
		cursor pointer

	&__box
		display block
		size $p.width
		cursor pointer

		&:after
			content ""
			position absolute
			display none

	&_checked_true &__box:after
		display block
		left ($p.width / 2.5)em
		top ($p.width / 6)em
		width ($p.width / 6)em
		height ($p.width / 2)em
		transform rotate(45deg)
