/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	messageHelpers: true
}

b-checkbox
	&__box
		flex-row center

	&__wrapper
		align-items center

	&__check
		position absolute
		display none

	createStyles($o)
		if getField($o, "block.label")
			&__label
				interpolate-props(getField($o, "block.label"))

		if getField($o, "block.textStyle")
			&__label
				text-options(getField($o, "block.textStyle"))

		for $key in (disabled focused checked)
			$box = getField($o, path(mods $key true checkbox))
			$label = getField($o, path(mods $key true label))

			for $v in (box $box) (label $label)
				if $v[1]
					&^[0]_{$key}_true &__{$v[0]}
						interpolate-props($v[1])

		if getField($o, "block.checkbox")
			&__box
				interpolate-props(getField($o, "block.checkbox"))

		$checked = getField($o, "mods.checked.true.check")

		if $checked
			&_checked_true &__check
				display block
				interpolate-props($checked)

				svg
					size 100%

	generateRules($p, createStyles)
