/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	lightColor: #FFF,
	lineHeight: 3px
}

b-checkbox_theme_menu extends b-checkbox
	/theme &__wrapper
		width 2.5em
		height @width

	/theme &__box
		position relative
		width 100%
		height $p.lineHeight

		border 0
		border-radius $p.lineHeight
		background-color $p.lightColor
		transition 0.25s 0.1s ease-in background

		&:after,
		&:before
			content ''
			position absolute
			display block
			width 100%
			height $p.lineHeight

			border-radius $p.lineHeight
			background-color $p.lightColor
			transition BASE_EASING_DURATION cubic-bezier(0.68, -0.55, 0.49, 2.35) transform, BASE_EASING_DURATION 0.2s cubic-bezier(0.68, -0.55, 0.49, 2.35) top

		&:before
			top -9px

		&:after
			top 9px

	/theme&_focused_true &__box
		border 0

	/theme&_checked_true &__box
		border 0
		background transparent
		transition 0.25s 0.1s ease-in background

		&:after
			width 100%
			height $p.lineHeight

			top 9px
			left 0
			transform rotate(0)
			border 0

		&:before
			transform rotate(0)
			top -9px

	/theme&_checked_true &__box,
	/theme&_checked_true &__wrapper:hover &__box
		background $p.lightColor
