/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {
	width: 1.2em
	accessHelpers: true
	visibleHelpers: true
}

b-checkbox extends i-input
	position relative
	display inline-block

	&__wrapper
		display flex
		cursor pointer

	&__box
		display block
		size $p.width
		cursor pointer

		&::after
			content ""
			position absolute
			display none

	&_checked_true &__box::after
		display block
