/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {
	accessHelpers: true
	visibleHelpers: true
}

b-checkbox extends i-input
	contain paint
	position relative

	&__wrapper, &__checkbox, &__label
		cursor pointer

	&__wrapper
		display flex

	&__checkbox
		display block

	&__label
		user-select none

	&__hidden-input
		position absolute
		zIndex(underall)
		opacity 0
