/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */
@import "super/i-block/i-block.styl"
@import "traits/i-visible/i-visible.styl"

$p = {
	visibleHelpers: true
	barSize: 36px
	textSize: 24px
	trackColor: c(grey, 5)
	barColor: c(green, 1)
}

b-circular-progress extends i-block

	// @stlint-disable
	i-visible({helpers: $p.visibleHelpers})
	// @stlint-enable

	position relative

	display inline-block
	vertical-align middle

	size 1em

	font-size barSize
	line-height 1

	&__svg
		size 100%
		transform rotate3d(0, 0, 1, -90deg)

	&__track
		color trackColor

	&__circle
		color barColor

	&__text
		absolute top 0 bottom 0 left 0 right 0
		display flex
		justify-content center
		align-items center
		font-size textSize
