/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	messageHelpers: false,
	dropdownHelpers: false
}

i-message extends i-block
	position relative

	if $p.messageHelpers
		&__message-box
			position absolute
			top 25%
			left 0
			right 0

		&_show-error_true &__info-box
			display none

	if $p.dropdownHelpers
		&__dropdown
			width 100%
