/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	messageHelpers: false
	dropdownHelpers: false
}

i-message extends i-block
	if $p.messageHelpers
		position relative

		&__message-box
			absolute top 25% right left

		&_show-error_true &__info-box
			display none

	if $p.dropdownHelpers
		&__dropdown
			width 100%
