/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-data/i-data.styl"

$p = {

}

strong {
	font-weight 700
	display block
	margin: 10px 0
}

b-dummy extends i-data
	margin: 20px
