/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-input/b-input.styl"

$p = {
	dropdownHelpers: true
}

b-input-tel extends b-input
	&__langs .b-select
		width 8em
