/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {
	width: auto
	zIndexPos: overall
}

b-window extends i-data
	absolute top 0 left 0
	z-index-pos $p.zIndexPos
	min-width 100%

	&_width_full &__window
		width 100%

	&_width_auto &__window
		width auto

	&__back
		fixed top 0 left 0
		size 100%

	&__wrapper
		position relative
		z-index-pos layer 1
		display flex
		justify-content center
		size 100% 100vh

	&__window
		width $p.width
		max-width 100%
		align-self center

	&__title
		display block

	&__control
		display inline-block
