/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

i-history
	& [data-sub-pages]
		absolute top 0 left 100vw
		zIndex(overall)

		&
		& > [data-page]
			position absolute
			size 100% auto

	&__page_turning_in
		transform translateX(-100vw)
