/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-data/i-data.styl"

$p = {

}

b-example-issue-two extends i-data
