/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	size: 1em
}

b-icon extends i-block
	display inline-flex
	justify-content center
	align-items center

	&__svg
		display block
		size $p.size

	if $p.color
		color $p.color
		fill $p.color

	else
		color currentColor
		fill currentColor
