/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "base/b-link/b-link.styl"

$p = {

}

b-pseudo-link extends b-link
	&__link
	&__pseudo-link
		border-bottom-style dotted

		&:empty
			border 0
