/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

b-virtual-scroll_theme_demo extends b-virtual-scroll
	/theme &__option-el
		size 200px
		margin 20px
		background-color red
