/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {

}

b-virtual-scroll extends i-data
	&__container
		position relative
		box-sizing border-box
		width 100%

	&__tombstone
		display none

	&__tombstone-el
	&__option-el
		contain layout
		position absolute !important
		useGPU()
		will-change transform

	&__scroll-runner
		absolute left 0 top 0
		size 1px
		transition transform 0.2s
		useGPU()

	&_hidden_true
		display none !important
		animation-play-state paused

	&_container-size_true &__container
		contain paint
		will-change height
