/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {

}

b-up extends i-block
	display flex
	flex-direction column
	justify-content flex-end
	fixed bottom 0 left 0
	z-index 999
	height 100%
	cursor pointer

	&__root-wrapper
		display flex
		flex-direction column
		align-items center

	&__a
		color currentColor
		text-decoration none

	&__up
		display block
