/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #4B494B,
	hoverBackgroundColor: alpha(#00786B, 0.2)
}

b-up
	padding 2em
	color $p.color

	&:hover
		background $p.hoverBackgroundColor

	&__a
		text-transform uppercase

	&__up .b-icon
		font-size 2em
