/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {
	color: #4B494B,
	hoverBackgroundColor: alpha(#00786B, 0.2)
}

b-up extends i-block
	display flex
	flex-direction column
	justify-content flex-end
	fixed bottom 0 left 0
	z-index 999
	padding 2em
	height 100%
	color $p.color
	cursor pointer

	&:hover
		background $p.hoverBackgroundColor

	&__root-wrapper
		display flex
		flex-direction column
		align-items center

	&__a
		color currentColor
		text-decoration none
		text-transform uppercase

	&__up
		display block

		.b-icon
			font-size 2em
