/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"
@import "traits/i-visible/i-visible.styl"

$p = {
	visibleHelpers: true
}

b-image-editor extends i-block
	// @stlint-disable
	i-visible({helpers: $p.visibleHelpers})
	// @stlint-enable

	&__root-wrapper
		display flex
		justify-content center
		align-items center

	&__super-wrapper
		position relative
		display inline-block

	&__img
		min-width 10em
		min-height @min-width

	&__wrapper
		absolute top 0 left 0
		zIndex(layer, 1)
		display none
		size 100%

	&__info-cell
		align-self center

	&__progress
		display inline-block

	&_progress_true &__super-wrapper
		display block

	&_progress_true &__wrapper
		display flex
		flex-direction column
		justify-content center

	&_progress_true &__wrapper + &__controls
		display none

	&__controls
		absolute bottom 0 right 0
		zIndex(layer, 2)
		display flex
		justify-content flex-end

	&__control
		cursor pointer
