/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-width/i-width.styl"

$p = {
	widthHelpers: false
}

i-input-text extends i-input
	// @stlint-disable
	i-width({helpers: $p.widthHelpers})
	// @stlint-enable
