/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"

$p = {
	lockHelpers: true,
	messageHelpers: true
}

b-link extends i-data
	display inline-block

	&__root-wrapper,
	&__wrapper
		display flex
		box-sizing border-box
		width 100%

	&__wrapper
		align-items center
		cursor pointer

	&_underline_false &__link
		border-bottom 0

	&__link
		border 1px solid transparent
		border-bottom-color currentColor
		color currentColor
		text-decoration none

		&:focus
			outline 0
			border-style dotted

		&:hover
			color $p.hoverColor

		&:active
			{$p.onActive}
