/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data/i-data.styl"
@import "traits/i-access/i-access.styl"
@import "traits/i-visible/i-visible.styl"
@import "traits/i-size/i-size.styl"

$p = {
	accessHelpers: true
	visibleHelpers: true
	sizeHelpers: true
	messageHelpers: true
	progressHelpers: true
}

b-link extends i-data
	i-access({helpers: $p.accessHelpers})
	i-size({helpers: $p.sizeHelpers})
	i-visible({helpers: $p.visibleHelpers})

	display inline-block

	&__root-wrapper
	&__wrapper
		display flex
		box-sizing border-box
		width 100%

	&__wrapper
		align-items center
		cursor pointer

	&__link
		text-decoration none
		border 1px solid transparent
		color currentColor

		&:focus
			border-style dotted
			outline 0

		&:hover
			color $p.hoverColor

		&:active
			{$p.onActive}

	&__g-icon
		display inline-block
		size 100%

	&_underline_true &__link
		border-bottom-color currentColor
