/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	color: #CCC,
	hoverColor: #FFF
}

b-link_theme_sky extends b-link
	b-link_theme_light($p)
