/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-option
	&__wrapper
		align-items center

	&__cell
		font-size 1em

	&__cell + &__cell
		padding-left 2em

	&__icon > span
		width 2em

	&__icon
		margin-left auto
