/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "form/b-input/b-input.styl"

$p = {

}

b-input-number extends b-input
	// @stlint-disable
	&__input::-webkit-outer-spin-button
	&__input::-webkit-inner-spin-button
	// @stlint-enable
		-webkit-appearance none

	&__input
		-moz-appearance textfield
		text-align center

	&__range
		display flex
		flex-direction column

	&__arrow
		cursor pointer
