/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {

}

b-input-number
	&__range
		margin 0 0.2em

	&__arrow
		color lighten($p.color, 30%)

		&:hover
			color $p.color
