/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-static-page/i-static-page.styl"

$p = {

}

p-v4-components-demo extends i-static-page
	padding 20px

.b-bottom-slide
	&__content
		padding 20px

	&_height-mode_content
		.b-bottom-slide__content
			background-color red

	&_height-mode_full
		.b-bottom-slide__content
			background-color green
