/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	helpers: true
}

i-access
	if $p.helpers
		&_disabled_true
			cursor default
			pointer-events none

		&_disabled_true &__over-wrapper
			display block
