/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	size: 1em
}

g-icon
	display inline-flex
	justify-content center
	align-items center
	size $p.size

	color currentColor
	fill @color

	&_size_full
		size 100%
