/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "global/g-def/funcs.styl"
@import "global/g-def/consts.styl"

$p = {
	overWrapper: false
}

i-block
	if $p.overWrapper
		&__over-wrapper
			absolute top 0 left 0
			zIndex(layer 2)
			display none
			size 100%
