/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

$p = {
	focusedBorderColor: #444
}

i-block
	if $p.lockHelpers
		&_disabled_true &__root-wrapper
		&_progress_true &__root-wrapper
			opacity 0.8
