/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-base/i-base.styl"

$p = {

}

i-page extends i-base
	display flex
	flex-direction column
	min-height 100vh
