/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-functional/i-functional.styl"

$p = {

}

b-flag-icon extends i-functional
	display inline-block
	vertical-align middle

	.flag-icon
		display block
		border-radius 0.3em
