/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-data-pages/i-data-pages.styl"

$p = {

}

b-grid extends i-data-list
	&__table
		width 100%

	&__row
		> th,
		> td
			position relative

	&__center
		text-align center

	&__th
		white-space nowrap
		cursor default

	&__row > th:first-child &__th:before
		display none

	&__dir
		display inline-block
		cursor pointer

	&__sort-field
		text-decoration none
		white-space nowrap

	&_progress_true &__progress
		display table-cell
