/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "icons/b-progress-icon/b-progress-icon.styl"

$p = {
	color: #3A3A3A
	headBackgroundColor: #EFEFEF
	thColor: #3A3A3A
	evenTrBackgroundColor: #F8F9FA
}

b-grid
	&__table
		color $p.color

	&__thead th
		padding 0.2em
		background $p.headBackgroundColor

	&__paging
		text-align center
		padding 0.4em 0

	&__row
		> th
			font-weight 400

		> th
			padding 0.8em
			color $p.thColor
			font-size 0.8em
			border-left 1px darken($p.headBackgroundColor, 10%) solid
			box-shadow -1px 0 0 lighten($p.headBackgroundColor, 60%)

		> td
			padding 0.8em 1.3em
			font-size 1em

		> th:nth-child(1),
		> td:nth-child(1)
			margin-left 3em

	&__row:nth-child(even) > td
		background $p.evenTrBackgroundColor

	&__th
		padding-left 0.5em
		font-weight 500

	&__sort-field
		font-size 1em

	&__row > th:first-child &__th
		padding-left 0

	&__dir
		width 2em
		vertical-align middle
		opacity 0.4
		transition 0.15s ease-in opacity

		&_active_true
			opacity 1

	&__dir-icon
		vertical-align middle

	&__sort-field
		border 1px dotted transparent
		color $p.thColor
		vertical-align middle

		&:focus
			border-color darken($p.thColor, 50%)

		&:hover
			color darken($p.thColor, 10%)

		&:active
			color darken($p.thColor, 20%)

	&__empty
		padding 5em 0.5em
		background alpha($p.evenTrBackgroundColor, 0.4)
		text-align center
		font-size 1.2em

	&__progress
		padding 5em
		text-align center

		.b-progress-icon
			opacity 0.3

			b-progress-icon({
				size: 5em,
				color: $p.color
			})
