/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-page/i-page.styl"
@import "global/g-hint/g-hint.styl"
@import "global/g-visible/g-visible.styl"
@import "global/g-icon/g-icon.styl"
@import "traits/i-lock-page-scroll/i-lock-page-scroll.styl"

$p = {
	lockPageHelpers: true
	globalHintHelpers: false
	globalIconHelpers: false
}

i-static-page extends i-page
	i-lock-page-scroll({helpers: $p.lockPageHelpers})

	if $p.globalHintHelpers
		/.g-hint
			position relative

			// @stlint-disable
			extends($gHint, {
				dataAttr: data-hint,
				showOn: "&[data-hint]:not([data-hint='']):hover",
			})
			// @stlint-enable

	if $p.globalIconHelpers
		/.g-icon
			extends($gIcon)
