/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-page/i-page.styl"

$p = {

}

i-static-page extends i-page
	&-lock-scroll-mobile-true
		size 100%
		overflow hidden

	&-lock-scroll-mobile-true body
		position fixed
		width 100%
		overflow hidden

	&-lock-scroll-desktop-true body
		box-sizing border-box
		overflow hidden
