/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-page/i-page.styl"
@import "traits/i-lock-page-scroll/i-lock-spage-croll.styl"

$p = {
	lockPageHelpers: true
}

i-static-page extends i-page
	i-lock-page-scroll({helpers: $p.lockPageHelpers})
