/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-data/i-data.styl"

$p = {

}

b-virtual-scroll-new extends i-data
	width 100%

	&__container
		position relative
		box-sizing border-box
		width 100%
