/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {
	dropdownHelpers: true,
	width: 20em
}

b-calendar
	display inline-block

	&_width_full &__label-nav
		width 100%

	&_width_auto &__label-nav
		width auto

	&__label-nav
		justify-content space-between
		width $p.width
		height auto
		text-decoration none
		cursor pointer

		&_buttons_false
			justify-content center

		&:active
			{$p.onActive}

	&__root-wrapper,
	&__label-nav,
	&__nav,
	&__cell
		display flex

	&__root-wrapper,
	&__label-nav
		height 100%

	&__root-wrapper
		flex-direction column
		width 100%

	&__label-nav,
	&__nav,
	&__cell
		align-items center
		box-sizing border-box

	&__nav,
	&__cell
		justify-content center

	&__nav
		justify-content space-between

	&__value
		text-align center
		user-select none

	&__dropdown_immediately-shown_false
		opacity 0

	&__dropdown-content
		overflow hidden

	&__dropdown-controls
		display flex

	&__label-year
		user-select none
		cursor default

	&__items-container
		display flex

	&__row
		white-space nowrap

	&__td
		display inline-block
		user-select none

	&__cell
		position relative
		vertical-align top

		&_range-start_false&_range-end_false&_in-range_true,
		&_range-end_true
			&:before
				position absolute
				right 100%
				z-index -1
				display block
				height 100%
				content ''

		&_touch_false
			pointer-events none

		&_range-start_true&_range-end_true:before
			display none

	&__h
		display inline-flex

	&__h,
	&__day
		align-items center
		justify-content center

	&__day
		width 100%
		height @width
		text-decoration none
		user-select none
		text-align center

		&_disabled_true,
		&_active_true
			cursor default

	&__time-block
		display flex
		align-items center
		justify-content center

	&__time-label
		line-height 1

	&__icon
		display block
		text-decoration none
		cursor pointer
