/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-width/i-width.styl"
@import "traits/i-size/i-size.styl"

$p = {
	widthHelpers: true
	sizeHelpers: true
	dropdownHelpers: true
	accessHelpers: true
	visibleHelpers: true
}

b-calendar extends i-input
	// @stlint-disable
	i-width({helpers: $p.widthHelpers, selector: ("&__label-nav")})
	i-size({helpers: $p.sizeHelpers})
	// @stlint-enable

	position relative
	display inline-block

	&__label-nav
		justify-content space-between
		height auto
		cursor pointer

		&:active
			{$p.onActive}

	&__root-wrapper
	&__label-nav
	&__nav
	&__cell
		display flex

	&__root-wrapper
	&__label-nav
		height 100%

	&__root-wrapper
		flex-direction column
		width 100%

	&__nav
		justify-content space-between

	&__value
		user-select none

	&__dropdown_immediately-shown_false
		opacity 0

	&__dropdown-content
		overflow hidden

	&__dropdown-controls
		display flex

	&__label-year
		cursor default
		user-select none

	&__items-container
		display flex

	&__row
		white-space nowrap

	&__td
		display inline-block
		user-select none

	&__cell
		position relative

		&_range-start_false&_range-end_false&_in-range_true
		&_range-end_true
			&:before
				content ""

				absolute right 100%
				zIndex(underall)

				display block
				height 100%

		&_touch_false
			pointer-events none

		&_range-start_true&_range-end_true:before
			display none

	&__h
		display inline-flex

	&__day
		size 100%
		user-select none

		&_disabled_true
		&_active_true
			cursor default

	&__time-block
		display flex

	&__time-label
		line-height 1

	&__icon
		display block
		text-decoration none
		cursor pointer
