/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

b-tree_theme_demo extends b-tree
	/theme &__item-wrapper
		display flex

	/theme &__marker
		width 16px

	/theme &__fold:before
		content "-"
		display block

		text-align center

	/theme &__node_folded_true &__fold:before
		content "+"

	/theme &__node_folded_true &__children
		display none

	/theme &__node_level_1
		margin-left 8px

	/theme &__node_level_2
		margin-left 16px
