/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {

}

b-switcher extends i-block
	position relative
	overflow hidden

	&__content
		absolute left 0 top 0
		visibility hidden

	&__placeholder
		size auto
		visibility visible

	&_hidden_true &__placeholder
		visibility hidden

	&_hidden_true &__content
		position static
		size auto
		overflow auto
		visibility visible