/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "components/super/i-block/i-block.styl"

$p = {

}

b-component-directives-emitter-dummy extends i-block
