/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {
	dropdownHelpers: true
}

b-time-range extends i-input
	display inline-block

	&_width_full &__value
		width 100%

	&__value
		color currentColor
		text-decoration none
		cursor pointer

		&:active
			{$p.onActive}

	&__value
	&__cell
		display flex
		align-items center
		justify-content center

	&__time
	&__empty
		width 100%
		white-space nowrap

	&__clear
		color currentColor
		text-decoration none

	&__form
		display flex
		flex-direction column
		align-items center

	&__controls
		white-space nowrap
