/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"
@import "traits/i-width/i-width.styl"

$p = {
	widthHelpers: true
	visibleHelpers: true
}

b-input-birthday extends i-input
	i-width({helpers: $p.widthHelpers})

	display inline-block

	&__wrapper
		display flex
		justify-content space-between

	&__cell
		width 33%
