/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-input/i-input.styl"

$p = {

}

b-input-birthday extends i-input
	display inline-block

	&__wrapper
		display flex
		justify-content space-between

	&__cell
		width 33%
