/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "dummies/b-dummy/b-dummy.styl"

$p = {

}

b-scroll-element-dummy extends b-dummy
	&__scrollable
		max-width 200px
		max-height 200px
		overflow scroll

	li
		width 600px
		height 600px
