/*!
 * V4Fire Client Core
 * https://github.com/V4Fire/Client
 *
 * Released under the MIT license
 * https://github.com/V4Fire/Client/blob/master/LICENSE
 */

@import "super/i-block/i-block.styl"

$p = {

}

b-paging extends i-block
	display inline-block
	cursor default
	user-select none

	&__cell
		display inline-block
		vertical-align middle
		cursor pointer

	&__bias-right,
	&__bias-left,
	&__self-select
		display inline-block

	&__state_disabled_true
		cursor default
		pointer-events none
