name: build

on:
  push:
    branches: [master]

  pull_request:
    branches: [master]

jobs:
  # Run components tests
  components:
    runs-on: windows-latest
    timeout-minutes: 60

    strategy:
      matrix:
        node-version: [14.1]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build tsconfig
        run: npx gulp build:tsconfig

      - name: Run components' tests
        run: npm run test:components:chrome

  components-fat-html:
    runs-on: windows-latest
    timeout-minutes: 60

    strategy:
      matrix:
        node-version: [ 14.1 ]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build tsconfig
        run: npx gulp build:tsconfig

      - name: Run components' tests with --fat-html --mode production
        run: npm run test:components:chrome -- --fat-html --mode production

  components-fat-html-es5:
    runs-on: windows-latest
    timeout-minutes: 60

    strategy:
      matrix:
        node-version: [ 14.1 ]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build tsconfig
        run: npx gulp build:tsconfig

      - name: Run components' tests with --fat-html --es ES5
        run: npm run test:components:chrome -- --fat-html --es ES5

  # Run module tests
  modules:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    strategy:
      matrix:
        node-version: [ 14.1 ]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - uses: actions/cache@v2

        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build tsconfig
        run: npx gulp build:tsconfig

      - name: Build the project
        run: npx webpack

      - name: Run modules' tests
        run: npm run test:jasmine

  # Run linters
  linters:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14.x ]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci

      - name: Build tsconfig
        run: npx gulp build:tsconfig

      - name: Run tests
        run: npm run test:linters
