name: build

on:
  push:
    branches: [master, v4]

  pull_request:
    branches: [master, v4]

jobs:
  # Run playwright tests
  components:
    runs-on: ubuntu-latest
    timeout-minutes: 60

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn

      - name: Build tsconfig
        run: yarn build:tsconfig

      - name: Build project
        run: yarn webpack

      - name: Run components' unit tests
        run: yarn test:unit --reporter github


  # Run module tests
  modules:
    runs-on: ubuntu-latest
    env:
      PROGRESS: false

    timeout-minutes: 30

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn

      - name: Build tsconfig
        run: yarn build:tsconfig

      - name: Build the project
        run: yarn webpack

      - name: Run modules' tests
        run: yarn test:jasmine

  # Run linters
  linters:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn

      - name: Build tsconfig
        run: yarn build:tsconfig

      - name: Run tests
        run: yarn test:linters
